@import '../base/variables';
@import '../base/maps';
@import '../base/mixin';

header {
    background: rgb(109, 0, 0);
    background: linear-gradient(90deg, rgba(109, 0, 0, 1) 35%, rgba(11, 58, 7, 1) 65%);
    @include flex (flex,space-around,center);

    div {
        .header__img {
            width: 70px;
            height: $height-img;
            padding-left: 20px;
        }
    }

    .header__title {
        font-family: "magic";
        display: flex;
        font-size: 80px;
        padding-right: 30px;
        color: #fff;
        text-decoration: none;

        @font-face {
            font-family: "magic";
            src: url(../fonts/HARRYP__.TTF);
        }
    }

    .header__nav {
        width: 50%;

        ul {
            list-style: map-get($lista, liststyle );
            display: map-get($lista, display );
            justify-content: map-get($lista, justify-content );
            font-size: map-get($lista, font-size );

            li {

                a {
                    text-decoration: none;
                    color: white;
    
                    &:hover {
                        color: black;
                    }
                }
            }
        }
    }
}